
# Basic
logs
target
/.classpath
/.project
/.settings
/RUNNING_PID
/public


# IDEs and editors
/.idea
/.idea_modules
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# dependencies
ui/node_modules


# System Files
.DS_Store
Thumbs.db

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
